{% extends 'base.html' %}
{% block head %}
<style>
    #buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    #buttons a {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #f0f0f0;
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }
    #buttons a:hover {
        background-color: #e0e0e0;
    }
</style>
{% endblock %}
{% block body %}
<h2>Invoice Submitted Successfully</h2>
<div id="buttons">
    <a href="/">Home</a>
</div>
{% endblock %}